In [460]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [461]:
df = pd.read_csv('InputData.csv',usecols=[0,2,3,4,5,7,10,12,14,16,17,18])
df_weather = pd.read_csv('Weather_data')

In [462]:
df.head(30)

,FltNbr,SchedDepDateTimeGmt,BlockDepDateTimeGmt,SchedArrDateTimeGmt,BlockArrDateTimeGmt,AircraftType,ArrStn,MsgDateTimeGmt,NewMessage,NewDateTimeGmt,DEP_COUNTRYNAME,ARR_COUNTRYNAME
0,UA 1816,23NOV12 06:15,23NOV12 06:21,23NOV12 07:30,23NOV12 07:38,321,AMS,22NOV12 16:50,C05,.,FRANCE,NETHERLANDS
1,UA 1816,23NOV12 06:15,23NOV12 06:21,23NOV12 07:30,23NOV12 07:38,321,AMS,23NOV12 06:20,CDQWS,.,FRANCE,NETHERLANDS
2,UA 1816,23NOV12 06:15,23NOV12 06:21,23NOV12 07:30,23NOV12 07:38,321,AMS,23NOV12 06:22,0822C,23NOV12 07:22,FRANCE,NETHERLANDS
3,UA 1816,23NOV12 06:15,23NOV12 06:21,23NOV12 07:30,23NOV12 07:38,321,AMS,23NOV12 06:33,0823C,23NOV12 07:23,FRANCE,NETHERLANDS
4,UA 1816,23NOV12 06:15,23NOV12 06:21,23NOV12 07:30,23NOV12 07:38,321,AMS,23NOV12 06:56,0828E,23NOV12 07:28,FRANCE,NETHERLANDS
5,UA 1816,23NOV12 06:15,23NOV12 06:21,23NOV12 07:30,23NOV12 07:38,321,AMS,23NOV12 07:17,0836F,23NOV12 07:36,FRANCE,NETHERLANDS
6,UA 1816,23NOV12 06:15,23NOV12 06:21,23NOV12 07:30,23NOV12 07:38,321,AMS,23NOV12 07:24,0838T,23NOV12 07:38,FRANCE,NETHERLANDS
7,UA 1816,23NOV12 06:15,23NOV12 06:21,23NOV12 07:30,23NOV12 07:38,321,AMS,23NOV12 07:25,0836T,23NOV12 07:36,FRANCE,NETHERLANDS
8,UA 1816,23NOV12 06:15,23NOV12 06:21,23NOV12 07:30,23NOV12 07:38,321,AMS,23NOV12 07:38,0838A,23NOV12 07:38,FRANCE,NETHERLANDS
9,UA 1811,23NOV12 08:30,23NOV12 08:37,23NOV12 09:45,23NOV12 09:49,321,CDG,22NOV12 17:01,C05,.,NETHERLANDS,FRANCE
10,UA 1811,23NOV12 08:30,23NOV12 08:37,23NOV12 09:45,23NOV12 09:49,321,CDG,22NOV12 17:01,C05,.,NETHERLANDS,FRANCE
11,UA 1811,23NOV12 08:30,23NOV12 08:37,23NOV12 09:45,23NOV12 09:49,321,CDG,23NOV12 06:20,CDQWS,.,NETHERLANDS,FRANCE
12,UA 1811,23NOV12 08:30,23NOV12 08:37,23NOV12 09:45,23NOV12 09:49,321,CDG,23NOV12 08:13,0930C,23NOV12 08:30,NETHERLANDS,FRANCE
13,UA 1811,23NOV12 08:30,23NOV12 08:37,23NOV12 09:45,23NOV12 09:49,321,CDG,23NOV12 08:37,0937A,23NOV12 08:37,NETHERLANDS,FRANCE
14,UA 1016,23NOV12 06:55,23NOV12 06:55,23NOV12 08:10,23NOV12 08:20,321,AMS,22NOV12 16:34,C07,.,FRANCE,NETHERLANDS
15,UA 1016,23NOV12 06:55,23NOV12 06:55,23NOV12 08:10,23NOV12 08:20,321,AMS,22NOV12 16:34,C07,.,FRANCE,NETHERLANDS
16,UA 1016,23NOV12 06:55,23NOV12 06:55,23NOV12 08:10,23NOV12 08:20,321,AMS,23NOV12 06:55,CDQWG,.,FRANCE,NETHERLANDS
17,UA 1016,23NOV12 06:55,23NOV12 06:55,23NOV12 08:10,23NOV12 08:20,321,AMS,23NOV12 06:55,0859C,23NOV12 07:59,FRANCE,NETHERLANDS
18,UA 1016,23NOV12 06:55,23NOV12 06:55,23NOV12 08:10,23NOV12 08:20,321,AMS,23NOV12 07:09,0858C,23NOV12 07:58,FRANCE,NETHERLANDS
19,UA 1016,23NOV12 06:55,23NOV12 06:55,23NOV12 08:10,23NOV12 08:20,321,AMS,23NOV12 07:32,0910E,23NOV12 08:10,FRANCE,NETHERLANDS
20,UA 1016,23NOV12 06:55,23NOV12 06:55,23NOV12 08:10,23NOV12 08:20,321,AMS,23NOV12 07:42,0912E,23NOV12 08:12,FRANCE,NETHERLANDS
21,UA 1016,23NOV12 06:55,23NOV12 06:55,23NOV12 08:10,23NOV12 08:20,321,AMS,23NOV12 07:48,0910E,23NOV12 08:10,FRANCE,NETHERLANDS
22,UA 1016,23NOV12 06:55,23NOV12 06:55,23NOV12 08:10,23NOV12 08:20,321,AMS,23NOV12 07:59,0917F,23NOV12 08:17,FRANCE,NETHERLANDS
23,UA 1016,23NOV12 06:55,23NOV12 06:55,23NOV12 08:10,23NOV12 08:20,321,AMS,23NOV12 08:06,0919T,23NOV12 08:19,FRANCE,NETHERLANDS
24,UA 1016,23NOV12 06:55,23NOV12 06:55,23NOV12 08:10,23NOV12 08:20,321,AMS,23NOV12 08:06,0917T,23NOV12 08:17,FRANCE,NETHERLANDS
25,UA 1016,23NOV12 06:55,23NOV12 06:55,23NOV12 08:10,23NOV12 08:20,321,AMS,23NOV12 08:20,0920A,23NOV12 08:20,FRANCE,NETHERLANDS
26,UA 1011,23NOV12 09:45,23NOV12 09:46,23NOV12 11:00,23NOV12 10:55,321,CDG,22NOV12 16:34,C07,.,NETHERLANDS,FRANCE
27,UA 1011,23NOV12 09:45,23NOV12 09:46,23NOV12 11:00,23NOV12 10:55,321,CDG,22NOV12 16:34,C07,.,NETHERLANDS,FRANCE
28,UA 1011,23NOV12 09:45,23NOV12 09:46,23NOV12 11:00,23NOV12 10:55,321,CDG,23NOV12 06:55,CDQWG,.,NETHERLANDS,FRANCE
29,UA 1011,23NOV12 09:45,23NOV12 09:46,23NOV12 11:00,23NOV12 10:55,321,CDG,23NOV12 09:36,1045C,23NOV12 09:45,NETHERLANDS,FRANCE

In [463]:
df_weather.head(30)

,STN,YYYYMMDD,HH,DD,FH,FF,FX,T,T10,TD,...,VV,N,U,WW,IX,M,R,S,O,Y
0,240,20121123,1,170,80,80,130,63,,37,...,70,8,83,,5,0,0,0,0,0
1,240,20121123,2,170,90,80,120,65,,38,...,70,8,83,,5,0,0,0,0,0
2,240,20121123,3,170,80,90,120,67,,41,...,70,8,83,,5,0,0,0,0,0
3,240,20121123,4,170,90,100,130,69,,43,...,70,8,83,,5,0,0,0,0,0
4,240,20121123,5,170,90,90,130,71,,44,...,70,8,83,,5,0,0,0,0,0
5,240,20121123,6,170,90,90,120,71,57,44,...,70,8,83,,5,0,0,0,0,0
6,240,20121123,7,180,80,80,130,72,,48,...,67,8,85,51,7,0,1,0,0,0
7,240,20121123,8,190,70,70,110,70,,56,...,61,8,91,81,7,0,1,0,0,0
8,240,20121123,9,190,70,60,110,71,,60,...,59,8,93,62,7,0,1,0,0,0
9,240,20121123,10,220,60,60,90,77,,65,...,61,8,92,57,7,0,1,0,0,0
10,240,20121123,11,200,40,40,90,74,,66,...,65,8,95,51,7,0,1,0,0,0
11,240,20121123,12,200,40,40,60,76,67,69,...,65,8,95,23,7,0,1,0,0,0
12,240,20121123,13,210,50,50,70,80,,67,...,65,8,91,,5,0,0,0,0,0
13,240,20121123,14,210,40,40,60,78,,64,...,65,8,91,,5,0,0,0,0,0
14,240,20121123,15,210,40,40,60,72,,57,...,70,2,90,,5,0,0,0,0,0
15,240,20121123,16,200,40,40,60,62,,51,...,65,8,93,,5,0,0,0,0,0
16,240,20121123,17,200,40,30,50,53,,46,...,65,7,95,,5,0,0,0,0,0
17,240,20121123,18,200,40,40,50,36,23,32,...,65,1,97,,5,0,0,0,0,0
18,240,20121123,19,150,30,20,40,28,,24,...,62,1,97,,5,0,0,0,0,0
19,240,20121123,20,160,30,30,40,39,,36,...,39,7,98,10,7,0,0,0,0,0
20,240,20121123,21,130,20,10,40,29,,28,...,2,8,99,34,7,1,0,0,0,0
21,240,20121123,22,160,20,20,30,25,,25,...,2,8,100,33,7,1,0,0,0,0
22,240,20121123,23,140,20,10,30,28,,27,...,1,9,99,34,7,1,0,0,0,0
23,240,20121123,24,150,20,20,30,28,5,28,...,1,9,100,33,7,1,0,0,0,0
24,240,20121124,1,160,10,20,30,24,,23,...,1,9,99,33,7,1,0,0,0,0
25,240,20121124,2,150,20,20,30,21,,20,...,1,9,99,33,7,1,0,0,0,0
26,240,20121124,3,170,20,20,30,14,,14,...,1,9,100,33,7,1,0,0,0,0
27,240,20121124,4,120,20,20,30,9,,9,...,1,9,100,33,7,1,0,0,0,0
28,240,20121124,5,150,10,20,20,3,,3,...,1,9,100,33,7,1,0,0,0,0
29,240,20121124,6,160,10,10,20,-1,0,-1,...,1,9,100,35,7,1,0,0,0,1

In [464]:
"""new_date = []
for day in df_weather['YYYYMMDD']:
    newday = ""
    for i in day:
        if i > 1:
            newday = newday + i
    new_date.append(newday)         
df_weather['YYYYMMDD'] = new_date

df_weather.head()"""

'new_date = []\nfor day in df_weather[\'YYYYMMDD\']:\n    newday = ""\n    for i in day:\n        if i > 1:\n            newday = newday + i\n    new_date.append(newday)         \ndf_weather[\'YYYYMMDD\'] = new_date\n\ndf_weather.head()'

In [465]:
df.info()
df = df[((df['BlockDepDateTimeGmt'] != '.') & (df['ArrStn'] != 'AMS')) | (df['ArrStn'] == 'AMS')]
df = df[((df['BlockArrDateTimeGmt'] != '.') & (df['ArrStn'] == 'AMS')) | (df['ArrStn'] != 'AMS')]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730825 entries, 0 to 730824
Data columns (total 12 columns):
FltNbr                 730825 non-null object
SchedDepDateTimeGmt    730825 non-null object
BlockDepDateTimeGmt    730825 non-null object
SchedArrDateTimeGmt    730825 non-null object
BlockArrDateTimeGmt    730825 non-null object
AircraftType           730706 non-null object
ArrStn                 730825 non-null object
MsgDateTimeGmt         730825 non-null object
NewMessage             730825 non-null object
NewDateTimeGmt         730825 non-null object
DEP_COUNTRYNAME        730825 non-null object
ARR_COUNTRYNAME        730825 non-null object
dtypes: object(12)
memory usage: 66.9+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 725819 entries, 0 to 730824
Data columns (total 12 columns):
FltNbr                 725819 non-null object
SchedDepDateTimeGmt    725819 non-null object
BlockDepDateTimeGmt    725819 non-null object
SchedArrDateTimeGmt    725819 non-null object
BlockArrDateTimeGmt    725819 non-null object
AircraftType           725743 non-null object
ArrStn                 725819 non-null object
MsgDateTimeGmt         725819 non-null object
NewMessage             725819 non-null object
NewDateTimeGmt         725819 non-null object
DEP_COUNTRYNAME        725819 non-null object
ARR_COUNTRYNAME        725819 non-null object
dtypes: object(12)
memory usage: 72.0+ MB

In [466]:
month_dict = {'jan':'01','feb':'02','mar':'03','apr':'04','may':'05','jun':'06','jul':'07','aug':'08','sep':'09','oct':'10','nov':'11','dec':'12'}

def change_date(col,dateyes=bool):
    date_new = []
    time_new = []
    for date in df[col]:
        if len(date) == 13:
            date_i = date[:2]+month_dict[date[2:5].lower()]+date[5:7]
            time_i = date[8:].replace(':','')
            if time_i[0] == '2' and time_i[1] == '3':
                time_i = str(int(time_i[:2])-23) + time_i[2:]
                date_i = str(int(date_i[:2])+1) + date_i[2:]
            else:
                time_i = str(int(time_i[:2])+1) + time_i[2:]
                
            date_new.append(int(date_i))
            time_new.append(int(time_i))
        else:
            date_new.append(np.nan)
            time_new.append(np.nan)
    if dateyes:
        return date_new,time_new
    else:
        return time_new

In [467]:
df['SchedDepDate'],df['SchedDepTime'] = change_date('SchedDepDateTimeGmt',dateyes=True)
df.drop('SchedDepDateTimeGmt',axis=1,inplace=True)

df['SchedArrDate'],df['SchedArrTime'] = change_date('SchedArrDateTimeGmt',dateyes=True)
df.drop('SchedArrDateTimeGmt',axis=1,inplace=True)

df['BlockArrDate'],df['BlockArrTime'] = change_date('BlockArrDateTimeGmt',dateyes=True)
df.drop('BlockArrDateTimeGmt',axis=1,inplace=True)

df['MsgDate'],df['MsgTime'] = change_date('MsgDateTimeGmt',dateyes=True)
df.drop('MsgDateTimeGmt',axis=1,inplace=True)

df['NewMsgDate'],df['NewMsgTime'] = change_date('NewDateTimeGmt',dateyes=True)
df.drop('NewDateTimeGmt',axis=1,inplace=True)

df['BlockDepDate'],df['BlockDepTime'] = change_date('BlockDepDateTimeGmt',dateyes=True)
df.drop('BlockDepDateTimeGmt',axis=1,inplace=True)

In [468]:
df.to_csv('Semi-shaved data.csv',index=False)

In [469]:
df_init = df.drop(['NewMessage','SchedDepDate','SchedArrDate'],axis=1)

In [470]:
df_init.head()

,FltNbr,AircraftType,ArrStn,DEP_COUNTRYNAME,ARR_COUNTRYNAME,SchedDepTime,SchedArrTime,BlockArrDate,BlockArrTime,MsgDate,MsgTime,NewMsgDate,NewMsgTime,BlockDepDate,BlockDepTime
0,UA 1816,321,AMS,FRANCE,NETHERLANDS,715,830,231112.0,838.0,221112,1750,NaN,NaN,231112.0,721.0
1,UA 1816,321,AMS,FRANCE,NETHERLANDS,715,830,231112.0,838.0,231112,720,NaN,NaN,231112.0,721.0
2,UA 1816,321,AMS,FRANCE,NETHERLANDS,715,830,231112.0,838.0,231112,722,231112.0,822.0,231112.0,721.0
3,UA 1816,321,AMS,FRANCE,NETHERLANDS,715,830,231112.0,838.0,231112,733,231112.0,823.0,231112.0,721.0
4,UA 1816,321,AMS,FRANCE,NETHERLANDS,715,830,231112.0,838.0,231112,756,231112.0,828.0,231112.0,721.0

In [471]:
df_init.dropna(inplace=True)

In [472]:
airline = []
for i in df_init['FltNbr']:
    airline.append(i[:2])

df_init['FltNbr'] = airline
df_init.head()

,FltNbr,AircraftType,ArrStn,DEP_COUNTRYNAME,ARR_COUNTRYNAME,SchedDepTime,SchedArrTime,BlockArrDate,BlockArrTime,MsgDate,MsgTime,NewMsgDate,NewMsgTime,BlockDepDate,BlockDepTime
2,UA,321,AMS,FRANCE,NETHERLANDS,715,830,231112.0,838.0,231112,722,231112.0,822.0,231112.0,721.0
3,UA,321,AMS,FRANCE,NETHERLANDS,715,830,231112.0,838.0,231112,733,231112.0,823.0,231112.0,721.0
4,UA,321,AMS,FRANCE,NETHERLANDS,715,830,231112.0,838.0,231112,756,231112.0,828.0,231112.0,721.0
5,UA,321,AMS,FRANCE,NETHERLANDS,715,830,231112.0,838.0,231112,817,231112.0,836.0,231112.0,721.0
6,UA,321,AMS,FRANCE,NETHERLANDS,715,830,231112.0,838.0,231112,824,231112.0,838.0,231112.0,721.0

In [473]:
arrival = pd.get_dummies(df_init['ArrStn'])

In [474]:
df_init['ArrStn'] = arrival['AMS']

In [475]:
from sklearn.preprocessing import LabelEncoder

In [476]:
number = LabelEncoder()

In [477]:
df_init['FltNbr'] = number.fit_transform(df_init['FltNbr'])

In [478]:
df_init.head()

,FltNbr,AircraftType,ArrStn,DEP_COUNTRYNAME,ARR_COUNTRYNAME,SchedDepTime,SchedArrTime,BlockArrDate,BlockArrTime,MsgDate,MsgTime,NewMsgDate,NewMsgTime,BlockDepDate,BlockDepTime
2,4,321,1,FRANCE,NETHERLANDS,715,830,231112.0,838.0,231112,722,231112.0,822.0,231112.0,721.0
3,4,321,1,FRANCE,NETHERLANDS,715,830,231112.0,838.0,231112,733,231112.0,823.0,231112.0,721.0
4,4,321,1,FRANCE,NETHERLANDS,715,830,231112.0,838.0,231112,756,231112.0,828.0,231112.0,721.0
5,4,321,1,FRANCE,NETHERLANDS,715,830,231112.0,838.0,231112,817,231112.0,836.0,231112.0,721.0
6,4,321,1,FRANCE,NETHERLANDS,715,830,231112.0,838.0,231112,824,231112.0,838.0,231112.0,721.0

In [479]:
"""# df_init.loc[df_init['NewMessage'][0]]
# newmessage = []
# for msg in df_init['NewMessage']:
#     try:
#         newmessage.append(int(msg[:-1]))
    
#     except ValueError:
#         newmessage.append(np.nan)
"""

"# df_init.loc[df_init['NewMessage'][0]]\n# newmessage = []\n# for msg in df_init['NewMessage']:\n#     try:\n#         newmessage.append(int(msg[:-1]))\n    \n#     except ValueError:\n#         newmessage.append(np.nan)\n"

In [480]:
"""# df_init['NewMessage'] = newmessage"""

"# df_init['NewMessage'] = newmessage"

In [481]:
df_init.reset_index(inplace=True)
df_init.drop('index',axis=1,inplace=True)

In [482]:
newmessagetime = []
newmessagedate = []
blockdeptime = []
blockdepdate = []
blockarrtime = []
blockarrdate = []
for i in range(df_init['NewMsgDate'].count()):
    newmessagetime.append(int(df_init['NewMsgTime'][i]))
    newmessagedate.append(int(df_init['NewMsgDate'][i]))
    blockdeptime.append(int(df_init['BlockDepTime'][i]))
    blockdepdate.append(int(df_init['BlockDepDate'][i]))
    blockarrtime.append(int(df_init['BlockArrTime'][i]))
    blockarrdate.append(int(df_init['BlockArrDate'][i]))

df_init['NewMsgTime'] = newmessagetime
df_init['NewMsgDate'] = newmessagedate
df_init['BlockDepTime'] = blockdeptime
df_init['BlockDepDate'] = blockdepdate
df_init['BlockArrTime'] = blockarrtime
df_init['BlockArrDate'] = blockarrdate

In [483]:
df_init.head()

,FltNbr,AircraftType,ArrStn,DEP_COUNTRYNAME,ARR_COUNTRYNAME,SchedDepTime,SchedArrTime,BlockArrDate,BlockArrTime,MsgDate,MsgTime,NewMsgDate,NewMsgTime,BlockDepDate,BlockDepTime
0,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,722,231112,822,231112,721
1,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,733,231112,823,231112,721
2,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,756,231112,828,231112,721
3,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,817,231112,836,231112,721
4,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,824,231112,838,231112,721

In [484]:
arrd = []
nmsgd = []
msgd = []
depd = []
for i in range(df_init['BlockArrDate'].count()):
    arrd.append(str(df_init['BlockArrDate'][i]))
    nmsgd.append(str(df_init['NewMsgDate'][i]))
    msgd.append(str(df_init['MsgDate'][i]))
    depd.append(str(df_init['BlockDepDate'][i]))
    

df_init['BlockArrDate'] = arrd
df_init['BlockDepDate'] = depd
df_init['NewMsgDate'] = nmsgd
df_init['MsgDate'] = msgd

df_init.head()

,FltNbr,AircraftType,ArrStn,DEP_COUNTRYNAME,ARR_COUNTRYNAME,SchedDepTime,SchedArrTime,BlockArrDate,BlockArrTime,MsgDate,MsgTime,NewMsgDate,NewMsgTime,BlockDepDate,BlockDepTime
0,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,722,231112,822,231112,721
1,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,733,231112,823,231112,721
2,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,756,231112,828,231112,721
3,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,817,231112,836,231112,721
4,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,824,231112,838,231112,721

In [485]:
bamonthyear = []
bdmonthyear = []
nmsgmonthyear = []
msgmonthyear = []
for i in range(len(df_init['BlockArrDate'])):
    bamonthyear.append(df_init['BlockArrDate'][i][-4:])
    bdmonthyear.append(df_init['BlockDepDate'][i][-4:])
    nmsgmonthyear.append(df_init['NewMsgDate'][i][-4:])
    msgmonthyear.append(df_init['MsgDate'][i][-4:])
    
df_init['BlockArrMY'] = bamonthyear
df_init['BlockDepMY'] = bdmonthyear
df_init['NewMsgMY'] = nmsgmonthyear
df_init['MsgMY'] = msgmonthyear

In [486]:
df_init.info()
df_init = df_init[((df_init['BlockArrMY'] == df_init['NewMsgMY']) & (df_init['ArrStn']==1)) | (df_init['ArrStn']==0)]
df_init = df_init[((df_init['BlockDepMY'] == df_init['NewMsgMY']) & (df_init['ArrStn']==0)) | (df_init['ArrStn']==1)]
df_init = df_init[((df_init['MsgMY'] == df_init['NewMsgMY']))]
df_init.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379677 entries, 0 to 379676
Data columns (total 19 columns):
FltNbr             379677 non-null int32
AircraftType       379677 non-null object
ArrStn             379677 non-null uint8
DEP_COUNTRYNAME    379677 non-null object
ARR_COUNTRYNAME    379677 non-null object
SchedDepTime       379677 non-null int64
SchedArrTime       379677 non-null int64
BlockArrDate       379677 non-null object
BlockArrTime       379677 non-null int64
MsgDate            379677 non-null object
MsgTime            379677 non-null int64
NewMsgDate         379677 non-null object
NewMsgTime         379677 non-null int64
BlockDepDate       379677 non-null object
BlockDepTime       379677 non-null int64
BlockArrMY         379677 non-null object
BlockDepMY         379677 non-null object
NewMsgMY           379677 non-null object
MsgMY              379677 non-null object
dtypes: int32(1), int64(6), object(11), uint8(1)
memory usage: 51.1+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 379479 entries, 0 to 379676
Data columns (total 19 columns):
FltNbr             379479 non-null int32
AircraftType       379479 non-null object
ArrStn             379479 non-null uint8
DEP_COUNTRYNAME    379479 non-null object
ARR_COUNTRYNAME    379479 non-null object
SchedDepTime       379479 non-null int64
SchedArrTime       379479 non-null int64
BlockArrDate       379479 non-null object
BlockArrTime       379479 non-null int64
MsgDate            379479 non-null object
MsgTime            379479 non-null int64
NewMsgDate         379479 non-null object
NewMsgTime         379479 non-null int64
BlockDepDate       379479 non-null object
BlockDepTime       379479 non-null int64
BlockArrMY         379479 non-null object
BlockDepMY         379479 non-null object
NewMsgMY           379479 non-null object
MsgMY              379479 non-null object
dtypes: int32(1), int64(6), object(11), uint8(1)
memory usage: 53.9+ MB

In [487]:
df_init.drop(['BlockArrMY','BlockDepMY','NewMsgMY','MsgMY'],axis=1,inplace=True)
df_init.head()

,FltNbr,AircraftType,ArrStn,DEP_COUNTRYNAME,ARR_COUNTRYNAME,SchedDepTime,SchedArrTime,BlockArrDate,BlockArrTime,MsgDate,MsgTime,NewMsgDate,NewMsgTime,BlockDepDate,BlockDepTime
0,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,722,231112,822,231112,721
1,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,733,231112,823,231112,721
2,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,756,231112,828,231112,721
3,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,817,231112,836,231112,721
4,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,824,231112,838,231112,721

In [488]:
df_init.reset_index(inplace=True)
df_init.drop('index',axis=1,inplace=True)

In [489]:
def timedif(BlockArrT,BlockDepT,NewMsgT,BlockArrD,BlockDepD,NewMsgD):
    dif_col = []
    for i in range(len(df_init[BlockArrT])):
        time_y = str(df_init[NewMsgT][i])
        hour_y = float(time_y[0]) if len(str(df_init[NewMsgT][i])) < 4 else float(time_y[:2])
        try:
            minutes_y = float(time_y[1:]) if len(str(df_init[NewMsgT][i])) < 4 else float(time_y[2:])
        except ValueError:
            minutes_y = float(time_y)
        
        if df_init['ArrStn'][i] == 1:
            time_x = str(df_init[BlockArrT][i])
            hour_x = float(time_x[0]) if len(str(df_init[BlockArrT][i])) < 4 else float(time_x[:2])
            try:
                minutes_x = float(time_x[1:]) if len(str(df_init[BlockArrT][i])) < 4 else float(time_x[2:])
            except ValueError:
                minutes_x = float(time_x)
            if int(str(df_init[BlockArrD][i])[:2]) > int(str(df_init[NewMsgD][i])[:2]):
                dif = (((24+hour_x)-hour_y)*60) + (minutes_x-minutes_y)
            elif int(str(df_init[BlockArrD][i])[:2]) < int(str(df_init[NewMsgD][i])[:2]):
                dif = (((24+hour_y)-hour_x)*60) + (minutes_y-minutes_x)
            else:
                dif = ((hour_x-hour_y)*60) + (minutes_x-minutes_y)
        else:
            time_x = str(df_init[BlockDepT][i])
            hour_x = float(time_x[0]) if len(str(df_init[BlockDepT][i])) < 4 else float(time_x[:2])
            try:
                minutes_x = float(time_x[1:]) if len(str(df_init[BlockDepT][i])) < 4 else float(time_x[2:])
            except ValueError:
                minutes_x = float(time_x)
            if int(str(df_init[BlockDepD][i])[:2]) > int(str(df_init[NewMsgD][i])[:2]):
                dif = (((24+hour_x)-hour_y)*60) + (minutes_x-minutes_y)
            elif int(str(df_init[BlockDepD][i])[:2]) < int(str(df_init[NewMsgD][i])[:2]):
                dif = (((24+hour_y)-hour_x)*60) + (minutes_y-minutes_x)
            else:
                dif = ((hour_x-hour_y)*60) + (minutes_x-minutes_y)

        dif_col.append(dif)
    return dif_col

In [490]:
df_init['TimeToFly'] = timedif('NewMsgTime','NewMsgTime','MsgTime','NewMsgDate','NewMsgDate','MsgDate')
df_init.head()

,FltNbr,AircraftType,ArrStn,DEP_COUNTRYNAME,ARR_COUNTRYNAME,SchedDepTime,SchedArrTime,BlockArrDate,BlockArrTime,MsgDate,MsgTime,NewMsgDate,NewMsgTime,BlockDepDate,BlockDepTime,TimeToFly
0,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,722,231112,822,231112,721,60.0
1,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,733,231112,823,231112,721,50.0
2,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,756,231112,828,231112,721,32.0
3,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,817,231112,836,231112,721,19.0
4,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,824,231112,838,231112,721,14.0

In [491]:
df_init['Error'] = timedif('BlockArrTime','BlockDepTime','NewMsgTime','BlockArrDate','BlockDepDate','NewMsgDate')
df_init.head(30)

,FltNbr,AircraftType,ArrStn,DEP_COUNTRYNAME,ARR_COUNTRYNAME,SchedDepTime,SchedArrTime,BlockArrDate,BlockArrTime,MsgDate,MsgTime,NewMsgDate,NewMsgTime,BlockDepDate,BlockDepTime,TimeToFly,Error
0,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,722,231112,822,231112,721,60.0,16.0
1,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,733,231112,823,231112,721,50.0,15.0
2,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,756,231112,828,231112,721,32.0,10.0
3,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,817,231112,836,231112,721,19.0,2.0
4,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,824,231112,838,231112,721,14.0,0.0
5,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,825,231112,836,231112,721,11.0,2.0
6,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,838,231112,838,231112,721,0.0,0.0
7,4,321,0,NETHERLANDS,FRANCE,930,1045,231112,1049,231112,913,231112,930,231112,937,17.0,7.0
8,4,321,0,NETHERLANDS,FRANCE,930,1045,231112,1049,231112,937,231112,937,231112,937,0.0,0.0
9,4,321,1,FRANCE,NETHERLANDS,755,910,231112,920,231112,755,231112,859,231112,755,64.0,21.0
10,4,321,1,FRANCE,NETHERLANDS,755,910,231112,920,231112,809,231112,858,231112,755,49.0,22.0
11,4,321,1,FRANCE,NETHERLANDS,755,910,231112,920,231112,832,231112,910,231112,755,38.0,10.0
12,4,321,1,FRANCE,NETHERLANDS,755,910,231112,920,231112,842,231112,912,231112,755,30.0,8.0
13,4,321,1,FRANCE,NETHERLANDS,755,910,231112,920,231112,848,231112,910,231112,755,22.0,10.0
14,4,321,1,FRANCE,NETHERLANDS,755,910,231112,920,231112,859,231112,917,231112,755,18.0,3.0
15,4,321,1,FRANCE,NETHERLANDS,755,910,231112,920,231112,906,231112,919,231112,755,13.0,1.0
16,4,321,1,FRANCE,NETHERLANDS,755,910,231112,920,231112,906,231112,917,231112,755,11.0,3.0
17,4,321,1,FRANCE,NETHERLANDS,755,910,231112,920,231112,920,231112,920,231112,755,0.0,0.0
18,4,321,0,NETHERLANDS,FRANCE,1045,1200,231112,1155,231112,1036,231112,1045,231112,1046,9.0,1.0
19,4,321,0,NETHERLANDS,FRANCE,1045,1200,231112,1155,231112,1046,231112,1046,231112,1046,0.0,0.0
20,4,321,1,FRANCE,NETHERLANDS,1140,1255,231112,1247,231112,1137,231112,1236,231112,1137,59.0,11.0
21,4,321,1,FRANCE,NETHERLANDS,1140,1255,231112,1247,231112,1151,231112,1239,231112,1137,48.0,8.0
22,4,321,1,FRANCE,NETHERLANDS,1140,1255,231112,1247,231112,1151,231112,1238,231112,1137,47.0,9.0
23,4,321,1,FRANCE,NETHERLANDS,1140,1255,231112,1247,231112,1214,231112,1246,231112,1137,32.0,1.0
24,4,321,1,FRANCE,NETHERLANDS,1140,1255,231112,1247,231112,1230,231112,1244,231112,1137,14.0,3.0
25,4,321,1,FRANCE,NETHERLANDS,1140,1255,231112,1247,231112,1233,231112,1246,231112,1137,13.0,1.0
26,4,321,1,FRANCE,NETHERLANDS,1140,1255,231112,1247,231112,1234,231112,1244,231112,1137,10.0,3.0
27,4,321,1,FRANCE,NETHERLANDS,1140,1255,231112,1247,231112,1247,231112,1247,231112,1137,0.0,0.0
28,4,321,0,NETHERLANDS,FRANCE,1355,1510,231112,1458,231112,1335,231112,1350,231112,1351,15.0,1.0
29,4,321,0,NETHERLANDS,FRANCE,1355,1510,231112,1458,231112,1352,231112,1351,231112,1351,-1.0,0.0

In [492]:
err = []
ttofly = []
for i in range(df_init['Error'].count()):
    err.append(int(df_init['Error'][i]))
    ttofly.append(int(df_init['TimeToFly'][i]))

df_init['Error'] = err
df_init['TimeToFly'] = ttofly
df_init.head(30)

,FltNbr,AircraftType,ArrStn,DEP_COUNTRYNAME,ARR_COUNTRYNAME,SchedDepTime,SchedArrTime,BlockArrDate,BlockArrTime,MsgDate,MsgTime,NewMsgDate,NewMsgTime,BlockDepDate,BlockDepTime,TimeToFly,Error
0,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,722,231112,822,231112,721,60,16
1,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,733,231112,823,231112,721,50,15
2,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,756,231112,828,231112,721,32,10
3,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,817,231112,836,231112,721,19,2
4,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,824,231112,838,231112,721,14,0
5,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,825,231112,836,231112,721,11,2
6,4,321,1,FRANCE,NETHERLANDS,715,830,231112,838,231112,838,231112,838,231112,721,0,0
7,4,321,0,NETHERLANDS,FRANCE,930,1045,231112,1049,231112,913,231112,930,231112,937,17,7
8,4,321,0,NETHERLANDS,FRANCE,930,1045,231112,1049,231112,937,231112,937,231112,937,0,0
9,4,321,1,FRANCE,NETHERLANDS,755,910,231112,920,231112,755,231112,859,231112,755,64,21
10,4,321,1,FRANCE,NETHERLANDS,755,910,231112,920,231112,809,231112,858,231112,755,49,22
11,4,321,1,FRANCE,NETHERLANDS,755,910,231112,920,231112,832,231112,910,231112,755,38,10
12,4,321,1,FRANCE,NETHERLANDS,755,910,231112,920,231112,842,231112,912,231112,755,30,8
13,4,321,1,FRANCE,NETHERLANDS,755,910,231112,920,231112,848,231112,910,231112,755,22,10
14,4,321,1,FRANCE,NETHERLANDS,755,910,231112,920,231112,859,231112,917,231112,755,18,3
15,4,321,1,FRANCE,NETHERLANDS,755,910,231112,920,231112,906,231112,919,231112,755,13,1
16,4,321,1,FRANCE,NETHERLANDS,755,910,231112,920,231112,906,231112,917,231112,755,11,3
17,4,321,1,FRANCE,NETHERLANDS,755,910,231112,920,231112,920,231112,920,231112,755,0,0
18,4,321,0,NETHERLANDS,FRANCE,1045,1200,231112,1155,231112,1036,231112,1045,231112,1046,9,1
19,4,321,0,NETHERLANDS,FRANCE,1045,1200,231112,1155,231112,1046,231112,1046,231112,1046,0,0
20,4,321,1,FRANCE,NETHERLANDS,1140,1255,231112,1247,231112,1137,231112,1236,231112,1137,59,11
21,4,321,1,FRANCE,NETHERLANDS,1140,1255,231112,1247,231112,1151,231112,1239,231112,1137,48,8
22,4,321,1,FRANCE,NETHERLANDS,1140,1255,231112,1247,231112,1151,231112,1238,231112,1137,47,9
23,4,321,1,FRANCE,NETHERLANDS,1140,1255,231112,1247,231112,1214,231112,1246,231112,1137,32,1
24,4,321,1,FRANCE,NETHERLANDS,1140,1255,231112,1247,231112,1230,231112,1244,231112,1137,14,3
25,4,321,1,FRANCE,NETHERLANDS,1140,1255,231112,1247,231112,1233,231112,1246,231112,1137,13,1
26,4,321,1,FRANCE,NETHERLANDS,1140,1255,231112,1247,231112,1234,231112,1244,231112,1137,10,3
27,4,321,1,FRANCE,NETHERLANDS,1140,1255,231112,1247,231112,1247,231112,1247,231112,1137,0,0
28,4,321,0,NETHERLANDS,FRANCE,1355,1510,231112,1458,231112,1335,231112,1350,231112,1351,15,1
29,4,321,0,NETHERLANDS,FRANCE,1355,1510,231112,1458,231112,1352,231112,1351,231112,1351,-1,0

In [493]:
df_arrival = df_init[df_init['ArrStn'] == 1].drop(['ArrStn','ARR_COUNTRYNAME'],axis=1)
df_departure = df_init[df_init['ArrStn'] == 0].drop(['ArrStn','DEP_COUNTRYNAME'],axis=1)

In [494]:
df_arrival['DepCountry'] = number.fit_transform(df_arrival['DEP_COUNTRYNAME'])
df_departure['ArrCountry'] = number.fit_transform(df_departure['ARR_COUNTRYNAME'])

In [495]:
# df_arrival.drop(['AircraftType','BlockDepTime','BlockArrTime','SchedDepTime','SchedArrTime','BlockArrDate','MsgDate','NewMsgDate','BlockDepDate'],axis=1,inplace=True)
# df_departure.drop(['AircraftType','BlockDepTime','BlockArrTime','SchedDepTime','SchedArrTime','BlockArrDate','MsgDate','NewMsgDate','BlockDepDate'],axis=1,inplace=True)

In [496]:
df_arrival.drop('DEP_COUNTRYNAME',axis=1,inplace=True)
df_departure.drop('ARR_COUNTRYNAME',axis=1,inplace=True)

In [497]:
colsA = list(df_arrival.columns.values)
colsD = list(df_departure.columns.values)
colsA.pop(colsA.index('Error'))
colsD.pop(colsD.index('Error'))
df_arrival = df_arrival[colsA+['Error']]
df_departure = df_departure[colsD+['Error']]

In [498]:
df_arrival.to_csv('Arriving Data.csv',index=False)
df_departure.to_csv('Departing Data.csv',index=False)

In [499]:
# sns.pairplot(df_arrival,hue='DepCountry')

In [500]:
df_departure.head(30)

,FltNbr,AircraftType,SchedDepTime,SchedArrTime,BlockArrDate,BlockArrTime,MsgDate,MsgTime,NewMsgDate,NewMsgTime,BlockDepDate,BlockDepTime,TimeToFly,ArrCountry,Error
7,4,321,930,1045,231112,1049,231112,913,231112,930,231112,937,17,6,7
8,4,321,930,1045,231112,1049,231112,937,231112,937,231112,937,0,6,0
18,4,321,1045,1200,231112,1155,231112,1036,231112,1045,231112,1046,9,6,1
19,4,321,1045,1200,231112,1155,231112,1046,231112,1046,231112,1046,0,6,0
28,4,321,1355,1510,231112,1458,231112,1335,231112,1350,231112,1351,15,6,1
29,4,321,1355,1510,231112,1458,231112,1352,231112,1351,231112,1351,-1,6,0
36,4,321,1520,1635,231112,1629,231112,1454,231112,1520,231112,1522,26,6,2
37,4,321,1520,1635,231112,1629,231112,1524,231112,1522,231112,1522,-2,6,0
46,4,321,1905,2020,231112,2002,231112,1835,231112,1905,231112,1902,30,6,-3
47,4,321,1905,2020,231112,2002,231112,1902,231112,1902,231112,1902,0,6,0
55,4,321,2045,2200,231112,2156,231112,2009,231112,2045,231112,2047,36,6,2
56,4,321,2045,2200,231112,2156,231112,2047,231112,2047,231112,2047,0,6,0
65,4,319,940,1130,231112,1143,231112,919,231112,954,231112,953,35,6,-1
66,4,319,940,1130,231112,1143,231112,941,231112,945,231112,953,4,6,8
67,4,319,940,1130,231112,1143,231112,954,231112,953,231112,953,-1,6,0
77,4,319,1205,1355,231112,1352,231112,1202,231112,1202,231112,1202,0,6,0
86,4,319,2035,2225,231112,2243,231112,2016,231112,2035,231112,2049,19,6,14
87,4,319,2035,2225,231112,2243,231112,2040,231112,2042,231112,2049,2,6,7
88,4,319,2035,2225,231112,2243,231112,2049,231112,2049,231112,2049,0,6,0
97,4,E70,925,1100,231112,1102,231112,905,231112,925,231112,926,20,6,1
98,4,E70,925,1100,231112,1102,231112,926,231112,925,231112,926,-1,6,1
99,4,E70,925,1100,231112,1102,231112,927,231112,926,231112,926,-1,6,0
106,4,ER4,1215,1345,231112,1345,231112,1156,231112,1215,231112,1213,19,6,-2
107,4,ER4,1215,1345,231112,1345,231112,1215,231112,1213,231112,1213,-2,6,0
114,4,E70,2015,2150,231112,2156,231112,1212,231112,1212,231112,2020,0,6,488
115,4,E70,2015,2150,231112,2156,231112,1214,231112,2015,231112,2020,481,6,5
116,4,E70,2015,2150,231112,2156,231112,1218,231112,2015,231112,2020,477,6,5
117,4,E70,2015,2150,231112,2156,231112,2012,231112,2020,231112,2020,8,6,0
118,4,E70,2015,2150,231112,2156,231112,2024,231112,2020,231112,2020,-4,6,0
124,4,ER4,1000,1105,231112,1053,231112,935,231112,1000,231112,953,25,6,-7

In [501]:
df_weather.head()

,STN,YYYYMMDD,HH,DD,FH,FF,FX,T,T10,TD,...,VV,N,U,WW,IX,M,R,S,O,Y
0,240,20121123,1,170,80,80,130,63,,37,...,70,8,83,,5,0,0,0,0,0
1,240,20121123,2,170,90,80,120,65,,38,...,70,8,83,,5,0,0,0,0,0
2,240,20121123,3,170,80,90,120,67,,41,...,70,8,83,,5,0,0,0,0,0
3,240,20121123,4,170,90,100,130,69,,43,...,70,8,83,,5,0,0,0,0,0
4,240,20121123,5,170,90,90,130,71,,44,...,70,8,83,,5,0,0,0,0,0

In [502]:
new_date = []
for day in df_weather['YYYYMMDD']:
    day = str(day)
    day = day[2:]
    day = day[-2:]+ day[-4:-2] + day[:2]
    new_date.append(int(day))
df_weather['YYYYMMDD'] = new_date

In [503]:
df_weather.head()

,STN,YYYYMMDD,HH,DD,FH,FF,FX,T,T10,TD,...,VV,N,U,WW,IX,M,R,S,O,Y
0,240,231112,1,170,80,80,130,63,,37,...,70,8,83,,5,0,0,0,0,0
1,240,231112,2,170,90,80,120,65,,38,...,70,8,83,,5,0,0,0,0,0
2,240,231112,3,170,80,90,120,67,,41,...,70,8,83,,5,0,0,0,0,0
3,240,231112,4,170,90,100,130,69,,43,...,70,8,83,,5,0,0,0,0,0
4,240,231112,5,170,90,90,130,71,,44,...,70,8,83,,5,0,0,0,0,0

In [504]:
new_time = []
for time in df_arrival['SchedArrTime']:
    time = str(time)
    if len(time) == 3:
        time = time[:1]
    else:
        time = time[:2]
    new_time.append(int(time))
df_arrival['hour'] = new_time

new_time = []
for time in df_departure['SchedDepTime']:
    time = str(time)
    if len(time) == 3:
        time = time[:1]
    else:
        time = time[:2]
    new_time.append(int(time))
df_departure['hour'] = new_time

In [505]:
df_arrival.head(30)

,FltNbr,AircraftType,SchedDepTime,SchedArrTime,BlockArrDate,BlockArrTime,MsgDate,MsgTime,NewMsgDate,NewMsgTime,BlockDepDate,BlockDepTime,TimeToFly,DepCountry,Error,hour
0,4,321,715,830,231112,838,231112,722,231112,822,231112,721,60,6,16,8
1,4,321,715,830,231112,838,231112,733,231112,823,231112,721,50,6,15,8
2,4,321,715,830,231112,838,231112,756,231112,828,231112,721,32,6,10,8
3,4,321,715,830,231112,838,231112,817,231112,836,231112,721,19,6,2,8
4,4,321,715,830,231112,838,231112,824,231112,838,231112,721,14,6,0,8
5,4,321,715,830,231112,838,231112,825,231112,836,231112,721,11,6,2,8
6,4,321,715,830,231112,838,231112,838,231112,838,231112,721,0,6,0,8
9,4,321,755,910,231112,920,231112,755,231112,859,231112,755,64,6,21,9
10,4,321,755,910,231112,920,231112,809,231112,858,231112,755,49,6,22,9
11,4,321,755,910,231112,920,231112,832,231112,910,231112,755,38,6,10,9
12,4,321,755,910,231112,920,231112,842,231112,912,231112,755,30,6,8,9
13,4,321,755,910,231112,920,231112,848,231112,910,231112,755,22,6,10,9
14,4,321,755,910,231112,920,231112,859,231112,917,231112,755,18,6,3,9
15,4,321,755,910,231112,920,231112,906,231112,919,231112,755,13,6,1,9
16,4,321,755,910,231112,920,231112,906,231112,917,231112,755,11,6,3,9
17,4,321,755,910,231112,920,231112,920,231112,920,231112,755,0,6,0,9
20,4,321,1140,1255,231112,1247,231112,1137,231112,1236,231112,1137,59,6,11,12
21,4,321,1140,1255,231112,1247,231112,1151,231112,1239,231112,1137,48,6,8,12
22,4,321,1140,1255,231112,1247,231112,1151,231112,1238,231112,1137,47,6,9,12
23,4,321,1140,1255,231112,1247,231112,1214,231112,1246,231112,1137,32,6,1,12
24,4,321,1140,1255,231112,1247,231112,1230,231112,1244,231112,1137,14,6,3,12
25,4,321,1140,1255,231112,1247,231112,1233,231112,1246,231112,1137,13,6,1,12
26,4,321,1140,1255,231112,1247,231112,1234,231112,1244,231112,1137,10,6,3,12
27,4,321,1140,1255,231112,1247,231112,1247,231112,1247,231112,1137,0,6,0,12
30,4,321,1250,1405,231112,1405,231112,1251,231112,1351,231112,1250,60,6,14,14
31,4,321,1250,1405,231112,1405,231112,1327,231112,1402,231112,1250,35,6,3,14
32,4,321,1250,1405,231112,1405,231112,1346,231112,1403,231112,1250,17,6,2,14
33,4,321,1250,1405,231112,1405,231112,1352,231112,1404,231112,1250,12,6,1,14
34,4,321,1250,1405,231112,1405,231112,1353,231112,1403,231112,1250,10,6,2,14
35,4,321,1250,1405,231112,1405,231112,1405,231112,1405,231112,1250,0,6,0,14

In [506]:
df_departure.head(30)

,FltNbr,AircraftType,SchedDepTime,SchedArrTime,BlockArrDate,BlockArrTime,MsgDate,MsgTime,NewMsgDate,NewMsgTime,BlockDepDate,BlockDepTime,TimeToFly,ArrCountry,Error,hour
7,4,321,930,1045,231112,1049,231112,913,231112,930,231112,937,17,6,7,9
8,4,321,930,1045,231112,1049,231112,937,231112,937,231112,937,0,6,0,9
18,4,321,1045,1200,231112,1155,231112,1036,231112,1045,231112,1046,9,6,1,10
19,4,321,1045,1200,231112,1155,231112,1046,231112,1046,231112,1046,0,6,0,10
28,4,321,1355,1510,231112,1458,231112,1335,231112,1350,231112,1351,15,6,1,13
29,4,321,1355,1510,231112,1458,231112,1352,231112,1351,231112,1351,-1,6,0,13
36,4,321,1520,1635,231112,1629,231112,1454,231112,1520,231112,1522,26,6,2,15
37,4,321,1520,1635,231112,1629,231112,1524,231112,1522,231112,1522,-2,6,0,15
46,4,321,1905,2020,231112,2002,231112,1835,231112,1905,231112,1902,30,6,-3,19
47,4,321,1905,2020,231112,2002,231112,1902,231112,1902,231112,1902,0,6,0,19
55,4,321,2045,2200,231112,2156,231112,2009,231112,2045,231112,2047,36,6,2,20
56,4,321,2045,2200,231112,2156,231112,2047,231112,2047,231112,2047,0,6,0,20
65,4,319,940,1130,231112,1143,231112,919,231112,954,231112,953,35,6,-1,9
66,4,319,940,1130,231112,1143,231112,941,231112,945,231112,953,4,6,8,9
67,4,319,940,1130,231112,1143,231112,954,231112,953,231112,953,-1,6,0,9
77,4,319,1205,1355,231112,1352,231112,1202,231112,1202,231112,1202,0,6,0,12
86,4,319,2035,2225,231112,2243,231112,2016,231112,2035,231112,2049,19,6,14,20
87,4,319,2035,2225,231112,2243,231112,2040,231112,2042,231112,2049,2,6,7,20
88,4,319,2035,2225,231112,2243,231112,2049,231112,2049,231112,2049,0,6,0,20
97,4,E70,925,1100,231112,1102,231112,905,231112,925,231112,926,20,6,1,9
98,4,E70,925,1100,231112,1102,231112,926,231112,925,231112,926,-1,6,1,9
99,4,E70,925,1100,231112,1102,231112,927,231112,926,231112,926,-1,6,0,9
106,4,ER4,1215,1345,231112,1345,231112,1156,231112,1215,231112,1213,19,6,-2,12
107,4,ER4,1215,1345,231112,1345,231112,1215,231112,1213,231112,1213,-2,6,0,12
114,4,E70,2015,2150,231112,2156,231112,1212,231112,1212,231112,2020,0,6,488,20
115,4,E70,2015,2150,231112,2156,231112,1214,231112,2015,231112,2020,481,6,5,20
116,4,E70,2015,2150,231112,2156,231112,1218,231112,2015,231112,2020,477,6,5,20
117,4,E70,2015,2150,231112,2156,231112,2012,231112,2020,231112,2020,8,6,0,20
118,4,E70,2015,2150,231112,2156,231112,2024,231112,2020,231112,2020,-4,6,0,20
124,4,ER4,1000,1105,231112,1053,231112,935,231112,1000,231112,953,25,6,-7,10

In [507]:
df_weather.rename(columns={'YYYYMMDD':'BlockArrDate'},inplace=True)
df_weather.rename(columns={'   HH':'hour'},inplace=True)

df_weather.head(20)

,STN,BlockArrDate,hour,DD,FH,FF,FX,T,T10,TD,...,VV,N,U,WW,IX,M,R,S,O,Y
0,240,231112,1,170,80,80,130,63,,37,...,70,8,83,,5,0,0,0,0,0
1,240,231112,2,170,90,80,120,65,,38,...,70,8,83,,5,0,0,0,0,0
2,240,231112,3,170,80,90,120,67,,41,...,70,8,83,,5,0,0,0,0,0
3,240,231112,4,170,90,100,130,69,,43,...,70,8,83,,5,0,0,0,0,0
4,240,231112,5,170,90,90,130,71,,44,...,70,8,83,,5,0,0,0,0,0
5,240,231112,6,170,90,90,120,71,57,44,...,70,8,83,,5,0,0,0,0,0
6,240,231112,7,180,80,80,130,72,,48,...,67,8,85,51,7,0,1,0,0,0
7,240,231112,8,190,70,70,110,70,,56,...,61,8,91,81,7,0,1,0,0,0
8,240,231112,9,190,70,60,110,71,,60,...,59,8,93,62,7,0,1,0,0,0
9,240,231112,10,220,60,60,90,77,,65,...,61,8,92,57,7,0,1,0,0,0
10,240,231112,11,200,40,40,90,74,,66,...,65,8,95,51,7,0,1,0,0,0
11,240,231112,12,200,40,40,60,76,67,69,...,65,8,95,23,7,0,1,0,0,0
12,240,231112,13,210,50,50,70,80,,67,...,65,8,91,,5,0,0,0,0,0
13,240,231112,14,210,40,40,60,78,,64,...,65,8,91,,5,0,0,0,0,0
14,240,231112,15,210,40,40,60,72,,57,...,70,2,90,,5,0,0,0,0,0
15,240,231112,16,200,40,40,60,62,,51,...,65,8,93,,5,0,0,0,0,0
16,240,231112,17,200,40,30,50,53,,46,...,65,7,95,,5,0,0,0,0,0
17,240,231112,18,200,40,40,50,36,23,32,...,65,1,97,,5,0,0,0,0,0
18,240,231112,19,150,30,20,40,28,,24,...,62,1,97,,5,0,0,0,0,0
19,240,231112,20,160,30,30,40,39,,36,...,39,7,98,10,7,0,0,0,0,0

In [508]:
df_weather['BlockArrDate'] = df_weather['BlockArrDate'].astype(str)
df_weather['hour'] = df_weather['hour'].astype(str)
df_arrival['BlockArrDate'] = df_arrival['BlockArrDate'].astype(str)
df_arrival['hour'] = df_arrival['hour'].astype(str)
df_departure['BlockDepDate'] = df_departure['BlockDepDate'].astype(str)
df_departure['hour'] = df_departure['hour'].astype(str)

In [509]:
df_arrival.reset_index(drop=True, inplace=True)
df_departure.reset_index(drop=True, inplace=True)

In [510]:
df_arrival.head(30)

,FltNbr,AircraftType,SchedDepTime,SchedArrTime,BlockArrDate,BlockArrTime,MsgDate,MsgTime,NewMsgDate,NewMsgTime,BlockDepDate,BlockDepTime,TimeToFly,DepCountry,Error,hour
0,4,321,715,830,231112,838,231112,722,231112,822,231112,721,60,6,16,8
1,4,321,715,830,231112,838,231112,733,231112,823,231112,721,50,6,15,8
2,4,321,715,830,231112,838,231112,756,231112,828,231112,721,32,6,10,8
3,4,321,715,830,231112,838,231112,817,231112,836,231112,721,19,6,2,8
4,4,321,715,830,231112,838,231112,824,231112,838,231112,721,14,6,0,8
5,4,321,715,830,231112,838,231112,825,231112,836,231112,721,11,6,2,8
6,4,321,715,830,231112,838,231112,838,231112,838,231112,721,0,6,0,8
7,4,321,755,910,231112,920,231112,755,231112,859,231112,755,64,6,21,9
8,4,321,755,910,231112,920,231112,809,231112,858,231112,755,49,6,22,9
9,4,321,755,910,231112,920,231112,832,231112,910,231112,755,38,6,10,9
10,4,321,755,910,231112,920,231112,842,231112,912,231112,755,30,6,8,9
11,4,321,755,910,231112,920,231112,848,231112,910,231112,755,22,6,10,9
12,4,321,755,910,231112,920,231112,859,231112,917,231112,755,18,6,3,9
13,4,321,755,910,231112,920,231112,906,231112,919,231112,755,13,6,1,9
14,4,321,755,910,231112,920,231112,906,231112,917,231112,755,11,6,3,9
15,4,321,755,910,231112,920,231112,920,231112,920,231112,755,0,6,0,9
16,4,321,1140,1255,231112,1247,231112,1137,231112,1236,231112,1137,59,6,11,12
17,4,321,1140,1255,231112,1247,231112,1151,231112,1239,231112,1137,48,6,8,12
18,4,321,1140,1255,231112,1247,231112,1151,231112,1238,231112,1137,47,6,9,12
19,4,321,1140,1255,231112,1247,231112,1214,231112,1246,231112,1137,32,6,1,12
20,4,321,1140,1255,231112,1247,231112,1230,231112,1244,231112,1137,14,6,3,12
21,4,321,1140,1255,231112,1247,231112,1233,231112,1246,231112,1137,13,6,1,12
22,4,321,1140,1255,231112,1247,231112,1234,231112,1244,231112,1137,10,6,3,12
23,4,321,1140,1255,231112,1247,231112,1247,231112,1247,231112,1137,0,6,0,12
24,4,321,1250,1405,231112,1405,231112,1251,231112,1351,231112,1250,60,6,14,14
25,4,321,1250,1405,231112,1405,231112,1327,231112,1402,231112,1250,35,6,3,14
26,4,321,1250,1405,231112,1405,231112,1346,231112,1403,231112,1250,17,6,2,14
27,4,321,1250,1405,231112,1405,231112,1352,231112,1404,231112,1250,12,6,1,14
28,4,321,1250,1405,231112,1405,231112,1353,231112,1403,231112,1250,10,6,2,14
29,4,321,1250,1405,231112,1405,231112,1405,231112,1405,231112,1250,0,6,0,14

In [511]:
df_weather.head(20)

,STN,BlockArrDate,hour,DD,FH,FF,FX,T,T10,TD,...,VV,N,U,WW,IX,M,R,S,O,Y
0,240,231112,1,170,80,80,130,63,,37,...,70,8,83,,5,0,0,0,0,0
1,240,231112,2,170,90,80,120,65,,38,...,70,8,83,,5,0,0,0,0,0
2,240,231112,3,170,80,90,120,67,,41,...,70,8,83,,5,0,0,0,0,0
3,240,231112,4,170,90,100,130,69,,43,...,70,8,83,,5,0,0,0,0,0
4,240,231112,5,170,90,90,130,71,,44,...,70,8,83,,5,0,0,0,0,0
5,240,231112,6,170,90,90,120,71,57,44,...,70,8,83,,5,0,0,0,0,0
6,240,231112,7,180,80,80,130,72,,48,...,67,8,85,51,7,0,1,0,0,0
7,240,231112,8,190,70,70,110,70,,56,...,61,8,91,81,7,0,1,0,0,0
8,240,231112,9,190,70,60,110,71,,60,...,59,8,93,62,7,0,1,0,0,0
9,240,231112,10,220,60,60,90,77,,65,...,61,8,92,57,7,0,1,0,0,0
10,240,231112,11,200,40,40,90,74,,66,...,65,8,95,51,7,0,1,0,0,0
11,240,231112,12,200,40,40,60,76,67,69,...,65,8,95,23,7,0,1,0,0,0
12,240,231112,13,210,50,50,70,80,,67,...,65,8,91,,5,0,0,0,0,0
13,240,231112,14,210,40,40,60,78,,64,...,65,8,91,,5,0,0,0,0,0
14,240,231112,15,210,40,40,60,72,,57,...,70,2,90,,5,0,0,0,0,0
15,240,231112,16,200,40,40,60,62,,51,...,65,8,93,,5,0,0,0,0,0
16,240,231112,17,200,40,30,50,53,,46,...,65,7,95,,5,0,0,0,0,0
17,240,231112,18,200,40,40,50,36,23,32,...,65,1,97,,5,0,0,0,0,0
18,240,231112,19,150,30,20,40,28,,24,...,62,1,97,,5,0,0,0,0,0
19,240,231112,20,160,30,30,40,39,,36,...,39,7,98,10,7,0,0,0,0,0

In [512]:
dfm_arrival = pd.merge(df_arrival, df_weather, how= 'left', on = ['BlockArrDate', 'hour'])

df_weather.rename(columns={'BlockArrDate':'BlockDepDate'},inplace=True)
dfm_departure = pd.merge(df_departure, df_weather, how= 'left', on = ['BlockDepDate', 'hour'])

In [513]:
dfm_arrival['BlockArrDate'] = df_arrival['BlockArrDate'].astype(float)
dfm_arrival['hour'] = df_arrival['hour'].astype(float)
dfm_arrival['Error'] = df_arrival['Error'].astype(float)
dfm_departure['BlockDepDate'] = df_departure['BlockDepDate'].astype(float)
dfm_departure['hour'] = df_departure['hour'].astype(float)
dfm_departure['Error'] = df_departure['Error'].astype(float)

In [514]:
dfm_arrival.head(30)

,FltNbr,AircraftType,SchedDepTime,SchedArrTime,BlockArrDate,BlockArrTime,MsgDate,MsgTime,NewMsgDate,NewMsgTime,...,VV,N,U,WW,IX,M,R,S,O,Y
0,4,321,715,830,231112.0,838,231112,722,231112,822,...,61.0,8.0,91.0,81,7.0,0.0,1.0,0.0,0.0,0.0
1,4,321,715,830,231112.0,838,231112,733,231112,823,...,61.0,8.0,91.0,81,7.0,0.0,1.0,0.0,0.0,0.0
2,4,321,715,830,231112.0,838,231112,756,231112,828,...,61.0,8.0,91.0,81,7.0,0.0,1.0,0.0,0.0,0.0
3,4,321,715,830,231112.0,838,231112,817,231112,836,...,61.0,8.0,91.0,81,7.0,0.0,1.0,0.0,0.0,0.0
4,4,321,715,830,231112.0,838,231112,824,231112,838,...,61.0,8.0,91.0,81,7.0,0.0,1.0,0.0,0.0,0.0
5,4,321,715,830,231112.0,838,231112,825,231112,836,...,61.0,8.0,91.0,81,7.0,0.0,1.0,0.0,0.0,0.0
6,4,321,715,830,231112.0,838,231112,838,231112,838,...,61.0,8.0,91.0,81,7.0,0.0,1.0,0.0,0.0,0.0
7,4,321,755,910,231112.0,920,231112,755,231112,859,...,59.0,8.0,93.0,62,7.0,0.0,1.0,0.0,0.0,0.0
8,4,321,755,910,231112.0,920,231112,809,231112,858,...,59.0,8.0,93.0,62,7.0,0.0,1.0,0.0,0.0,0.0
9,4,321,755,910,231112.0,920,231112,832,231112,910,...,59.0,8.0,93.0,62,7.0,0.0,1.0,0.0,0.0,0.0
10,4,321,755,910,231112.0,920,231112,842,231112,912,...,59.0,8.0,93.0,62,7.0,0.0,1.0,0.0,0.0,0.0
11,4,321,755,910,231112.0,920,231112,848,231112,910,...,59.0,8.0,93.0,62,7.0,0.0,1.0,0.0,0.0,0.0
12,4,321,755,910,231112.0,920,231112,859,231112,917,...,59.0,8.0,93.0,62,7.0,0.0,1.0,0.0,0.0,0.0
13,4,321,755,910,231112.0,920,231112,906,231112,919,...,59.0,8.0,93.0,62,7.0,0.0,1.0,0.0,0.0,0.0
14,4,321,755,910,231112.0,920,231112,906,231112,917,...,59.0,8.0,93.0,62,7.0,0.0,1.0,0.0,0.0,0.0
15,4,321,755,910,231112.0,920,231112,920,231112,920,...,59.0,8.0,93.0,62,7.0,0.0,1.0,0.0,0.0,0.0
16,4,321,1140,1255,231112.0,1247,231112,1137,231112,1236,...,65.0,8.0,95.0,23,7.0,0.0,1.0,0.0,0.0,0.0
17,4,321,1140,1255,231112.0,1247,231112,1151,231112,1239,...,65.0,8.0,95.0,23,7.0,0.0,1.0,0.0,0.0,0.0
18,4,321,1140,1255,231112.0,1247,231112,1151,231112,1238,...,65.0,8.0,95.0,23,7.0,0.0,1.0,0.0,0.0,0.0
19,4,321,1140,1255,231112.0,1247,231112,1214,231112,1246,...,65.0,8.0,95.0,23,7.0,0.0,1.0,0.0,0.0,0.0
20,4,321,1140,1255,231112.0,1247,231112,1230,231112,1244,...,65.0,8.0,95.0,23,7.0,0.0,1.0,0.0,0.0,0.0
21,4,321,1140,1255,231112.0,1247,231112,1233,231112,1246,...,65.0,8.0,95.0,23,7.0,0.0,1.0,0.0,0.0,0.0
22,4,321,1140,1255,231112.0,1247,231112,1234,231112,1244,...,65.0,8.0,95.0,23,7.0,0.0,1.0,0.0,0.0,0.0
23,4,321,1140,1255,231112.0,1247,231112,1247,231112,1247,...,65.0,8.0,95.0,23,7.0,0.0,1.0,0.0,0.0,0.0
24,4,321,1250,1405,231112.0,1405,231112,1251,231112,1351,...,65.0,8.0,91.0,,5.0,0.0,0.0,0.0,0.0,0.0
25,4,321,1250,1405,231112.0,1405,231112,1327,231112,1402,...,65.0,8.0,91.0,,5.0,0.0,0.0,0.0,0.0,0.0
26,4,321,1250,1405,231112.0,1405,231112,1346,231112,1403,...,65.0,8.0,91.0,,5.0,0.0,0.0,0.0,0.0,0.0
27,4,321,1250,1405,231112.0,1405,231112,1352,231112,1404,...,65.0,8.0,91.0,,5.0,0.0,0.0,0.0,0.0,0.0
28,4,321,1250,1405,231112.0,1405,231112,1353,231112,1403,...,65.0,8.0,91.0,,5.0,0.0,0.0,0.0,0.0,0.0
29,4,321,1250,1405,231112.0,1405,231112,1405,231112,1405,...,65.0,8.0,91.0,,5.0,0.0,0.0,0.0,0.0,0.0

In [515]:
dfm_departure.head(30)

,FltNbr,AircraftType,SchedDepTime,SchedArrTime,BlockArrDate,BlockArrTime,MsgDate,MsgTime,NewMsgDate,NewMsgTime,...,VV,N,U,WW,IX,M,R,S,O,Y
0,4,321,930,1045,231112,1049,231112,913,231112,930,...,59,8,93,62,7,0,1,0,0,0
1,4,321,930,1045,231112,1049,231112,937,231112,937,...,59,8,93,62,7,0,1,0,0,0
2,4,321,1045,1200,231112,1155,231112,1036,231112,1045,...,61,8,92,57,7,0,1,0,0,0
3,4,321,1045,1200,231112,1155,231112,1046,231112,1046,...,61,8,92,57,7,0,1,0,0,0
4,4,321,1355,1510,231112,1458,231112,1335,231112,1350,...,65,8,91,,5,0,0,0,0,0
5,4,321,1355,1510,231112,1458,231112,1352,231112,1351,...,65,8,91,,5,0,0,0,0,0
6,4,321,1520,1635,231112,1629,231112,1454,231112,1520,...,70,2,90,,5,0,0,0,0,0
7,4,321,1520,1635,231112,1629,231112,1524,231112,1522,...,70,2,90,,5,0,0,0,0,0
8,4,321,1905,2020,231112,2002,231112,1835,231112,1905,...,62,1,97,,5,0,0,0,0,0
9,4,321,1905,2020,231112,2002,231112,1902,231112,1902,...,62,1,97,,5,0,0,0,0,0
10,4,321,2045,2200,231112,2156,231112,2009,231112,2045,...,39,7,98,10,7,0,0,0,0,0
11,4,321,2045,2200,231112,2156,231112,2047,231112,2047,...,39,7,98,10,7,0,0,0,0,0
12,4,319,940,1130,231112,1143,231112,919,231112,954,...,59,8,93,62,7,0,1,0,0,0
13,4,319,940,1130,231112,1143,231112,941,231112,945,...,59,8,93,62,7,0,1,0,0,0
14,4,319,940,1130,231112,1143,231112,954,231112,953,...,59,8,93,62,7,0,1,0,0,0
15,4,319,1205,1355,231112,1352,231112,1202,231112,1202,...,65,8,95,23,7,0,1,0,0,0
16,4,319,2035,2225,231112,2243,231112,2016,231112,2035,...,39,7,98,10,7,0,0,0,0,0
17,4,319,2035,2225,231112,2243,231112,2040,231112,2042,...,39,7,98,10,7,0,0,0,0,0
18,4,319,2035,2225,231112,2243,231112,2049,231112,2049,...,39,7,98,10,7,0,0,0,0,0
19,4,E70,925,1100,231112,1102,231112,905,231112,925,...,59,8,93,62,7,0,1,0,0,0
20,4,E70,925,1100,231112,1102,231112,926,231112,925,...,59,8,93,62,7,0,1,0,0,0
21,4,E70,925,1100,231112,1102,231112,927,231112,926,...,59,8,93,62,7,0,1,0,0,0
22,4,ER4,1215,1345,231112,1345,231112,1156,231112,1215,...,65,8,95,23,7,0,1,0,0,0
23,4,ER4,1215,1345,231112,1345,231112,1215,231112,1213,...,65,8,95,23,7,0,1,0,0,0
24,4,E70,2015,2150,231112,2156,231112,1212,231112,1212,...,39,7,98,10,7,0,0,0,0,0
25,4,E70,2015,2150,231112,2156,231112,1214,231112,2015,...,39,7,98,10,7,0,0,0,0,0
26,4,E70,2015,2150,231112,2156,231112,1218,231112,2015,...,39,7,98,10,7,0,0,0,0,0
27,4,E70,2015,2150,231112,2156,231112,2012,231112,2020,...,39,7,98,10,7,0,0,0,0,0
28,4,E70,2015,2150,231112,2156,231112,2024,231112,2020,...,39,7,98,10,7,0,0,0,0,0
29,4,ER4,1000,1105,231112,1053,231112,935,231112,1000,...,61,8,92,57,7,0,1,0,0,0

In [516]:
dfm_arrival.to_csv('Arriving Data.csv',index=False)

In [517]:
dfm_departure.to_csv('Departing Data.csv',index=False)